{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/footer

    Page footer.

    Example context (json):
    {
        "output": {
            "page_doc_link": "Help and documentation",
            "supportemail": "<a href=\"#\">Contact site support</a>",
            "has_popover_links": true,
            "services_support": "Services and support",
            "login_info": "You are logged in as cute kitten",
            "moodle_release": "90210"
        }
    }
}}

<footer id="page-footer" class="footer-popover bg-white">
    <div data-region="footer-container-popover">
        <button class="btn btn-icon bg-secondary icon-no-margin btn-footer-popover" data-action="footer-popover" aria-label="{{#str}}showfooter, theme_boost{{/str}}">
            {{#pix}}e/question, core{{/pix}}
        </button>
    </div>
    <div class="footer-content-popover container" data-region="footer-content-popover">
        {{# output.has_popover_links }}
            <div class="footer-section p-3 border-bottom">
                {{# output.page_doc_link }}
                    <div class="footer-support-link">{{{ output.page_doc_link }}}</div>
                {{/ output.page_doc_link }}

                {{# output.services_support_link }}
                    <div class="footer-support-link">{{{ output.services_support_link }}}</div>
                {{/ output.services_support_link }}

                {{# output.supportemail }}
                    <div class="footer-support-link">{{{ output.supportemail }}}</div>
                {{/ output.supportemail }}
            </div>
        {{/ output.has_popover_links }}
        <div class="footer-section p-3 border-bottom">
            <div class="logininfo">
                {{{ output.login_info }}}
            </div>
            <div class="tool_usertours-resettourcontainer">
            </div>

            {{{ output.standard_footer_html }}}
            {{{ output.standard_end_of_body_html }}}
        </div>
        <div class="footer-section p-3">
            <div>{{#str}}poweredbymoodle, core{{/str}}</div>
            {{#output.moodle_release}}
                <div>
                    {{#str}}version, core{{/str}} {{{ output.moodle_release }}}
                </div>
            {{/output.moodle_release}}
        </div>
    </div>

    <div class="footer-content-debugging footer-dark bg-dark text-light">
        <div class="container-fluid footer-dark-inner">
            {{{ output.debug_footer_html }}}
        </div>
    </div>
<style>
	.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #adaaaa;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 38px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1.0;
}
</style>
<div class="scroll-top-wrapper  ">
<span class="scroll-top-inner">
<i class="fa fa-2x fa-arrow-circle-up"></i>
</span>
</div>
<script>
	$(function(){
		$(document).on("scroll",function(){
			if($(window).scrollTop()>100){
				$(".scroll-top-wrapper").addClass("show")
				}else{
				$(".scroll-top-wrapper").removeClass("show")
				}
				});
$(".scroll-top-wrapper").on("click",a)
});

function a(){
verticalOffset=typeof(verticalOffset)!="undefined"?verticalOffset:0;element=$("body");
offset=element.offset();
offsetTop=offset.top;
$("html, body").animate({
scrollTop:offsetTop
},500,"linear")}

</script>
</footer>
{{#js}}
require(['theme_boost/footer-popover'], function(FooterPopover) {
    FooterPopover.init();
});
{{/js}}
